[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cheem"]
	path = cheem
	url = https://github.com/nspyrison/cheem
[submodule "spinifex"]
	path = spinifex
	url = https://github.com/nspyrison/spinifex
